.page-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1009;
  background: rgba(0, 0, 0, 0.5);
  animation-name: fadeIn;
  animation-duration: 1s;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  animation-name: fadeInUp;
  animation-duration: 1s;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
