@import "variables", "mixins";

.counter {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  @include responsive($small) {
    flex-direction: column;
    gap: 5px;
  }

  h4 {
    @include quicksandFont(var(--text-color), 15px, 800);
  }

  h5 {
    @include interFont(var(--accent-color-gray), 15px, 600);
  }
}
