@import "variables", "mixins", "keyframes";

.project {
  width: 330px;
  height: 200px;
  background-color: var(--background-darker);
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: fadeIn;
  animation-duration: 0.5s;

  .content {
    a {
      text-decoration: none;
      @include quicksandFont(var(--text-color), 18px, 800);
      border-bottom: 1px solid var(--text-color);
    }

    p {
      padding-top: 10px;
      @include interFont(var(--accent-color-gray), 14px, 400);
    }
  }

  .footer {
    display: flex;
    gap: 20px;

    label {
      @include interFont(var(--accent-color-gray), 14px, 400);

      i {
        margin-right: 5px;
      }
    }
  }
}
