<div class="project">
  <div class="content">
    <a [href]="githubRepository.html_url">{{ githubRepository.name }}</a>
    <p *ngIf="githubRepository.description">
      {{ githubRepository.description | trimDescription }}
    </p>
  </div>
  <div class="footer">
    <label
      ><i class="fa-solid fa-eye"></i
      >{{ githubRepository.watchers_count | number }}</label
    >
    <label
      ><i class="fa-solid fa-code-fork"></i
      >{{ githubRepository.forks_count | number }}</label
    >
    <label
      ><i class="fa-solid fa-star"></i
      >{{ githubRepository.stargazers_count | number }}</label
    >
  </div>
</div>
