<div id="info-container">
  <div class="profile-image">
    <img [src]="githubUser.avatar_url" alt="" />
  </div>
  <div class="data">
    <div class="heading">
      <h1>{{ githubUser.name }}</h1>
      <h2>@{{ githubUser.login }}</h2>
    </div>
    <div>
      <div class="icon">
        <i class="fa-solid fa-star"></i>
      </div>
      <label>{{ stars | number }} stars</label>
    </div>
    <div>
      <div class="icon">
        <i class="fa-solid fa-calendar"></i>
      </div>
      <label
        >Member since <b>{{ githubUser.created_at | date }}</b></label
      >
    </div>
    <a [href]="githubUser.html_url" class="button"
      ><i class="fa-brands fa-github"></i>Go to GitHub</a
    >
    <div *ngIf="githubUser.blog">
      <div class="icon">
        <i class="fa-solid fa-link"></i>
      </div>
      <label>{{ githubUser.blog }}</label>
    </div>
    <div *ngIf="githubUser.company">
      <div class="icon">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <label>{{ githubUser.company }}</label>
    </div>
    <div *ngIf="githubUser.location">
      <div class="icon">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <label>{{ githubUser.location }}</label>
    </div>
  </div>
</div>
