@import "variables", "mixins";

#info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include responsive($medium) {
    flex-direction: row;
    justify-content: center;
  }

  @include responsive($small) {
    flex-direction: column;
    justify-content: center;
  }
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  padding: 10px;
  border: 6px solid var(--accent-color-green-hover);
  border-style: dashed dotted dashed dotted;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.data {
  width: 100%;
  @include responsive($medium) {
    width: auto;
  }
  display: flex;
  flex-direction: column;
  gap: 15px;

  .heading {
    display: flex;
    flex-direction: column;
  }

  h1 {
    @include quicksandFont(var(--text-color), 30px, 800);
  }

  h2 {
    @include interFont(var(--accent-color-gray), 18px, 500);
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: initial;
    padding-block: 12px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background-color: var(--accent-color-green-hover);
    @include quicksandFont(var(--accent-color-green), 15px, 800);
    @include transition;

    &:hover {
      background-color: var(--accent-color-green);
      color: var(--accent-color-green-hover);
    }

    i {
      margin-right: 10px;
    }
  }

  div {
    display: flex;

    .icon {
      display: flex;
      justify-content: center;
      width: 30px;
      margin-right: 5px;

      i {
        color: var(--accent-color-gray);
      }
    }

    label {
      @include interFont(var(--accent-color-gray), 15px, 500);
    }
  }
}
