<button (click)="colorsService.changeTheme()" id="changeMode">
  <i
    class="fa-solid"
    [ngClass]="{
      'fa-moon': colorsService.actualTheme == 'light' ? true : false,
      'fa-sun': colorsService.actualTheme == 'dark' ? true : false
    }"
  ></i>
</button>
<div class="container">
  <div class="content">
    <div id="no-user" *ngIf="!githubUser">
      <div>
        <i class="fa-brands fa-github"></i>
      </div>
      <h1>Hi! Please search for a GitHub username for getting started.</h1>
      <app-search-form (submitUsername)="searchUser($event)"></app-search-form>
    </div>
    <div id="github-profile" *ngIf="githubUser">
      <div id="personal-info">
        <app-personal-info
          [githubUser]="githubUser"
          [stars]="stars"
        ></app-personal-info>
      </div>
      <div id="projects">
        <div id="projects-header">
          <app-search-form
            (submitUsername)="searchUser($event)"
          ></app-search-form>
          <div id="heading">
            <h1>Projects</h1>
            <div>
              <app-counter
                title="Followers"
                [counter]="githubUser.followers"
              ></app-counter>
              <app-counter
                title="Following"
                [counter]="githubUser.following"
              ></app-counter>
              <app-counter
                title="Repositories"
                [counter]="githubUser.public_repos"
              ></app-counter>
            </div>
          </div>
        </div>
        <div id="projects-container">
          <app-project
            *ngFor="let repository of githubRepositories"
            [githubRepository]="repository"
          ></app-project>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>
