@import "variables", "mixins", "keyframes";

#changeMode {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-block: 10px;
  padding-inline: 12px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: var(--background-darker);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  margin-block: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  #no-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation-name: fadeInUp;
    animation-duration: 1s;

    h1 {
      text-align: center;
      @include quicksandFont(var(--text-color), 24px, 800);
    }

    div {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: var(--accent-color-green-hover);

      i {
        color: var(--accent-color-green);
        font-size: 60px;
      }
    }
  }

  #github-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    animation-name: fadeInUp;
    animation-duration: 1s;

    @include responsive($medium) {
      padding-block: 60px;
      flex-direction: column;
      justify-content: center;
    }

    #personal-info {
      width: 260px;

      @include responsive($medium) {
        width: 100%;
      }
    }

    #projects {
      width: 90%;
      padding-left: 50px;
      @include responsive($medium) {
        width: 100%;
        padding-left: 0;
      }

      #projects-header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 20px;

        @include responsive($small) {
          align-items: center;
        }

        #heading {
          padding-top: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          @include responsive($small) {
            margin-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        h1 {
          @include interFont(var(--text-color), 24px, 400);
        }

        div {
          display: flex;
          gap: 30px;

          @include responsive($small) {
            gap: 20px;
          }
        }
      }

      #projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
        justify-content: center;
        gap: 10px;
        max-height: 420px;
        overflow-y: auto;
      }
    }
  }
}
