@import "variables", "mixins";

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  display: flex;
  gap: 5px;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: var(--background-darker);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    i {
      color: var(--text-color);
      padding-left: 5px;
    }
  }

  input {
    border: 0;
    background-color: var(--background-darker);
    padding-block: 10px;
    padding-inline: 12px;
    @include interFont(var(--text-color), 14px, 400);
    @include transition;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid var(--accent-color-blue);
    }

    &::placeholder {
      color: var(--background-darker-placeholder);
    }
  }

  button {
    padding-inline: 18px;
    border: 0;
    cursor: pointer;
    background-color: var(--accent-color-blue-hover);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    @include quicksandFont(var(--accent-color-blue), 15px, 800);
    @include transition;

    &:hover {
      background-color: var(--accent-color-blue);
      color: var(--accent-color-blue-hover);
    }

    &:disabled {
      opacity: 50%;
      pointer-events: none;
    }
  }
}

.warning {
  margin-left: 45px;
  margin-top: 5px;
  display: flex;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--accent-color-yellow-hover);

  .icon-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      animation-name: increaseFontSize;
      animation-duration: 0.5s;
      color: var(--accent-color-yellow);
    }
  }

  .message {
    width: 80%;
    display: flex;
    align-items: center;

    p {
      animation-name: increaseFontSize;
      animation-duration: 0.5s;
      @include quicksandFont(var(--accent-color-yellow), 14px, 800);
    }
  }
}
