<form (ngSubmit)="submit()" [formGroup]="form" action="/off" autocomplete="off">
  <div class="form-group">
    <div class="icon-container">
      <i class="fa-solid fa-user"></i>
    </div>
    <input
      formControlName="username"
      type="text"
      placeholder="Type an username..."
      maxlength="38"
      [ngStyle]="{
        borderColor: form.get('username')!.invalid
          ? 'var(--accent-color-yellow)'
          : ''
      }"
    />
    <button
      [disabled]="form.invalid || !form.get('username')!.value"
      type="submit"
    >
      Search
    </button>
  </div>
  <div class="warning" *ngIf="form.get('username')!.invalid">
    <div class="icon-container">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    <div class="message">
      <p>Invalid username.</p>
    </div>
  </div>
</form>
