@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline-color: var(--accent-color-blue);
    outline-width: 1px;
  }
}

body.light {
  --background-color: white;
  --background-darker: #f2f2f2;
  --background-darker-placeholder: #aeaeae;
  --text-color: black;
  --accent-color-blue: #1d90f5;
  --accent-color-blue-hover: #d4e3f1;
  --accent-color-green: #33b270;
  --accent-color-green-hover: #cbe6da;
  --accent-color-yellow: #fcb12a;
  --accent-color-yellow-hover: #ffeac4;
  --accent-color-gray: #747c88;
  @include transition;

  background-color: var(--background-color);
}

body.dark {
  --background-color: #050505;
  --background-darker: #1f1f1f;
  --background-darker-placeholder: #6f6f6f;
  --text-color: white;
  --accent-color-blue: #1d90f5;
  --accent-color-blue-hover: #092e4f;
  --accent-color-green: #33b270;
  --accent-color-green-hover: #14432b;
  --accent-color-yellow: #fcb12a;
  --accent-color-yellow-hover: #49340d;
  --accent-color-gray: #aeaeae;
  @include transition;

  background-color: var(--background-color);
}

body,
div,
h1,
h2,
h3,
h4,
h5,
label,
a {
  @include transition;

  &.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

::-webkit-scrollbar {
  width: 1vw;
  @include transition;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: var(--background-darker);
  @include transition;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--background-darker-placeholder);
  @include transition;
}
